In [3]:
#Installing apyori

pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=a9d016c2e9df7c91840d134583f6dedaa02bc43c477841168e3d3823ced84a8a
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [141]:
#Importing all the necessary libraries

import pandas as pd
import numpy as np
from apyori import apriori

In [142]:
#Loading and exploring the data

dataset = pd.read_csv('Movies.csv', encoding='latin1',header=None)

In [143]:
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,revenue,vote_average,vote_count,title,original_language,release_date,production_companies,production_countries,genres,director,producer,cast,runtimes,writer
1,4300000,6.6,714,Four Rooms,en,1995-12-09,"Miramax Films,A Band Apart",United States of America,"Crime,Comedy","Allison Anders,Alexandre Rockwell,Robert Rodri...","Lawrence Bender,Paul Hellerman,Scott Lambert,","Sammi Davis,Amanda De Cadenet,Valeria Golino,",98,"Allison Anders,Alexandre Rockwell,Robert Rodri..."
2,12,6.4,96,Judgment Night,en,1993-10-15,"Universal Pictures,Largo Entertainment,JVC Ent...","Japan,United States of America","Action,Thriller,Crime",Stephen Hopkins,"Gene Levy,Christopher Mollo,Lloyd Segan,","Emilio Estevez,Cuba Gooding Jr.,Denis Leary,",110,"Lewis Colick,Jere Cunningham,Lewis Colick"
3,775398007,8.1,8550,Star Wars,en,1977-05-25,"Lucasfilm,20th Century Fox",United States of America,"Adventure,Action,Science Fiction",George Lucas,"Gary Kurtz,George Lucas,Rick McCallum","Mark Hamill,Harrison Ford,Carrie Fisher,",121,George Lucas
4,940335536,7.7,8085,Finding Nemo,en,2003-05-30,Pixar,United States of America,"Animation,Family","Andrew Stanton,Lee Unkrich","Jinko Gotoh,John Lasseter,Graham Walters","Albert Brooks,Ellen DeGeneres,Alexander Gould,",100,"Andrew Stanton,Andrew Stanton,Bob Peterson,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0,7.0,4,All the Kind Strangers,en,1974-11-12,Cinemation Industries,United States of America,"Horror,Thriller,TV Movie",Joel Zwick,"Jane Barclay,Sharon Harel,Manfred D. Heid,","Kim Basinger,John Corbett,Annie Potts,",90,"Mitchell Ganem,Adam-Michael Garber"
9997,0,6.3,20,Nothing Sacred,en,1937-11-25,Selznick International Pictures,United States of America,"Comedy,Drama,Romance",William A. Wellman,David O. Selznick,"Carole Lombard,Fredric March,Charles Winninger,",77,"Ben Hecht,James Street,David O. Selznick,"
9998,0,0.0,0,The Old Swimmin' Hole,en,1940-10-21,Monogram Pictures,United States of America,Drama,Robert F. McGowan,Scott R. Dunlap,"Marcia Mae Jones,Jackie Moran,Leatrice Joy,",81,"Dorothy Davenport,Gerald Breitigam"
9999,0,5.0,2,Once Upon a Honeymoon,en,1956-01-01,Bell Telephone System,United States of America,"Comedy,Fantasy,Music",Robert F. McGowan,Scott R. Dunlap,"Marcia Mae Jones,Jackie Moran,Leatrice Joy,",81,"Dorothy Davenport,Gerald Breitigam"
10000,0,6.2,8,Anthony Adverse,en,1936-08-29,Warner Bros. Pictures,United States of America,"Action,Drama,Romance","Mervyn LeRoy,Michael Curtiz","Henry Blanke,Hal B. Wallis,Jack L. Warner","Fredric March,Olivia de Havilland,Donald Woods,",141,"Hervey Allen,Sheridan Gibney,Milton Krims,"

In [144]:
#Visualising the data

dataset.shape

(10001, 14)

In [145]:
dataset.replace([np.inf, -np.inf], np.nan, inplace=True)
# Drop rows with NaN
dataset.dropna(inplace=True)
print(dataset)

              0             1           2                       3   \
0        revenue  vote_average  vote_count                   title
1        4300000           6.6         714              Four Rooms
2             12           6.4          96          Judgment Night
3      775398007           8.1        8550               Star Wars
4      940335536           7.7        8085            Finding Nemo
...          ...           ...         ...                     ...
9996           0           7.0           4  All the Kind Strangers
9997           0           6.3          20          Nothing Sacred
9998           0           0.0           0   The Old Swimmin' Hole
9999           0           5.0           2   Once Upon a Honeymoon
10000          0           6.2           8         Anthony Adverse

                      4             5   \
0      original_language  release_date
1                     en    1995-12-09
2                     en    1993-10-15
3                     en    1977-05-25
4                     en    2003-05-30
...                  ...           ...
9996                  en    1974-11-12
9997                  en    1937-11-25
9998                  en    1940-10-21
9999                  en    1956-01-01
10000                 en    1936-08-29

                                                      6   \
0                                   production_companies
1                             Miramax Films,A Band Apart
2      Universal Pictures,Largo Entertainment,JVC Ent...
3                             Lucasfilm,20th Century Fox
4                                                  Pixar
...                                                  ...
9996                               Cinemation Industries
9997                     Selznick International Pictures
9998                                   Monogram Pictures
9999                               Bell Telephone System
10000                              Warner Bros. Pictures

                                   7                                 8   \
0                production_countries                            genres
1            United States of America                      Crime,Comedy
2      Japan,United States of America             Action,Thriller,Crime
3            United States of America  Adventure,Action,Science Fiction
4            United States of America                  Animation,Family
...                               ...                               ...
9996         United States of America          Horror,Thriller,TV Movie
9997         United States of America              Comedy,Drama,Romance
9998         United States of America                             Drama
9999         United States of America              Comedy,Fantasy,Music
10000        United States of America              Action,Drama,Romance

                                                      9   \
0                                               director
1      Allison Anders,Alexandre Rockwell,Robert Rodri...
2                                        Stephen Hopkins
3                                           George Lucas
4                             Andrew Stanton,Lee Unkrich
...                                                  ...
9996                                          Joel Zwick
9997                                  William A. Wellman
9998                                   Robert F. McGowan
9999                                   Robert F. McGowan
10000                        Mervyn LeRoy,Michael Curtiz

                                                  10  \
0                                           producer
1      Lawrence Bender,Paul Hellerman,Scott Lambert,
2           Gene Levy,Christopher Mollo,Lloyd Segan,
3              Gary Kurtz,George Lucas,Rick McCallum
4           Jinko Gotoh,John Lasseter,Graham Walters
...                                              ...
9996      Jane Barclay,Sharon Harel,Manfred D. Heid,
9997                               David O. Selznick
9998                                 Scott R. Dunlap
9999                                 Scott R. Dunlap
10000      Henry Blanke,Hal B. Wallis,Jack L. Warner

                                                    11        12  \
0                                                 cast  runtimes
1        Sammi Davis,Amanda De Cadenet,Valeria Golino,        98
2         Emilio Estevez,Cuba Gooding Jr.,Denis Leary,       110
3             Mark Hamill,Harrison Ford,Carrie Fisher,       121
4       Albert Brooks,Ellen DeGeneres,Alexander Gould,       100
...                                                ...       ...
9996            Kim Basinger,John Corbett,Annie Potts,        90
9997   Carole Lombard,Fredric March,Charles Winninger,        77
9998       Marcia Mae Jones,Jackie Moran,Leatrice Joy,        81
9999       Marcia Mae Jones,Jackie Moran,Leatrice Joy,        81
10000  Fredric March,Olivia de Havilland,Donald Woods,       141

                                                      13
0                                                 writer
1      Allison Anders,Alexandre Rockwell,Robert Rodri...
2              Lewis Colick,Jere Cunningham,Lewis Colick
3                                           George Lucas
4            Andrew Stanton,Andrew Stanton,Bob Peterson,
...                                                  ...
9996                  Mitchell Ganem,Adam-Michael Garber
9997           Ben Hecht,James Street,David O. Selznick,
9998                  Dorothy Davenport,Gerald Breitigam
9999                  Dorothy Davenport,Gerald Breitigam
10000         Hervey Allen,Sheridan Gibney,Milton Krims,

[8212 rows x 14 columns]

In [146]:
#Converting the pandas dataframe into a list of lists

records = []
for i in range(0,8211):
  records.append([str(dataset.values[i,j]) for j in range (0,14)])

In [147]:
#Building a apriori model

association_rules = apriori(records, min_support = 0.50, min_confidence= 0.5, min_lift=0.2,min_length=2)
association_results = list(association_rules)

In [148]:
#Getting the number of rules

print(len(association_results))

5

In [149]:
#Glancing at the first rule

print(association_results)

[RelationRecord(items=frozenset({'0'}), support=0.5715503592741444, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0'}), confidence=0.5715503592741444, lift=1.0)]), RelationRecord(items=frozenset({'United States of America'}), support=0.8118377785896967, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'United States of America'}), confidence=0.8118377785896967, lift=1.0)]), RelationRecord(items=frozenset({'en'}), support=0.9866033369869687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en'}), confidence=0.9866033369869687, lift=1.0)]), RelationRecord(items=frozenset({'en', '0'}), support=0.5615637559371575, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', '0'}), confidence=0.5615637559371575, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({'en'}), confidence=0.982527168122736, lift=0.9958684825892835), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'0'}), confidence=0.569188989013702, lift=0.9958684825892834)]), RelationRecord(items=frozenset({'en', 'United States of America'}), support=0.8083059310680794, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', 'United States of America'}), confidence=0.8083059310680794, lift=1.0), OrderedStatistic(items_base=frozenset({'United States of America'}), items_add=frozenset({'en'}), confidence=0.9956495649564956, lift=1.009169062814194), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'United States of America'}), confidence=0.8192815701765214, lift=1.009169062814194)])]

In [150]:
#Displaying all the association rules built by the model

association_results

[RelationRecord(items=frozenset({'0'}), support=0.5715503592741444, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0'}), confidence=0.5715503592741444, lift=1.0)]),
 RelationRecord(items=frozenset({'United States of America'}), support=0.8118377785896967, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'United States of America'}), confidence=0.8118377785896967, lift=1.0)]),
 RelationRecord(items=frozenset({'en'}), support=0.9866033369869687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en'}), confidence=0.9866033369869687, lift=1.0)]),
 RelationRecord(items=frozenset({'en', '0'}), support=0.5615637559371575, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', '0'}), confidence=0.5615637559371575, lift=1.0), OrderedStatistic(items_base=frozenset({'0'}), items_add=frozenset({'en'}), confidence=0.982527168122736, lift=0.9958684825892835), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'0'}), confidence=0.569188989013702, lift=0.9958684825892834)]),
 RelationRecord(items=frozenset({'en', 'United States of America'}), support=0.8083059310680794, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', 'United States of America'}), confidence=0.8083059310680794, lift=1.0), OrderedStatistic(items_base=frozenset({'United States of America'}), items_add=frozenset({'en'}), confidence=0.9956495649564956, lift=1.009169062814194), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'United States of America'}), confidence=0.8192815701765214, lift=1.009169062814194)])]

In [151]:
#Building another association rule by updating the min_support value to 0.7

association_rules = apriori(records, min_support = 0.70, min_confidence= 0.5, min_lift=0.2,min_length=2)
association_results = list(association_rules)

In [152]:
#Displaying the 3 association rules built by the model

association_results

[RelationRecord(items=frozenset({'United States of America'}), support=0.8118377785896967, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'United States of America'}), confidence=0.8118377785896967, lift=1.0)]),
 RelationRecord(items=frozenset({'en'}), support=0.9866033369869687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en'}), confidence=0.9866033369869687, lift=1.0)]),
 RelationRecord(items=frozenset({'en', 'United States of America'}), support=0.8083059310680794, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', 'United States of America'}), confidence=0.8083059310680794, lift=1.0), OrderedStatistic(items_base=frozenset({'United States of America'}), items_add=frozenset({'en'}), confidence=0.9956495649564956, lift=1.009169062814194), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'United States of America'}), confidence=0.8192815701765214, lift=1.009169062814194)])]

In [156]:
print(association_rules)

<generator object apriori at 0x7f625b9efc50>

In [165]:
print(association_results)

[RelationRecord(items=frozenset({'United States of America'}), support=0.8118377785896967, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'United States of America'}), confidence=0.8118377785896967, lift=1.0)]), RelationRecord(items=frozenset({'en'}), support=0.9866033369869687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en'}), confidence=0.9866033369869687, lift=1.0)]), RelationRecord(items=frozenset({'en', 'United States of America'}), support=0.8083059310680794, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'en', 'United States of America'}), confidence=0.8083059310680794, lift=1.0), OrderedStatistic(items_base=frozenset({'United States of America'}), items_add=frozenset({'en'}), confidence=0.9956495649564956, lift=1.009169062814194), OrderedStatistic(items_base=frozenset({'en'}), items_add=frozenset({'United States of America'}), confidence=0.8192815701765214, lift=1.009169062814194)])]